nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}
nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}

.div-main {
  padding-top: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgb(12, 18, 18);
  color: white;
}

/** Can be used to center any element */
.center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

// swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
//   background: rgb(12, 18, 18)!important;
// }
