.sorteio{
  height: 100%;
  width: 100%;
  margin-top: 40px;
}

.cartelas {
  max-width: 500px;
  margin:  0 auto;
}

.numsCartela{
  display: flex;
  flex-direction: row;
}

.num{
  width: 100%;
  background-color: lightseagreen;
  margin-right: 10px;
  margin-left: 10px;
}

button{
  margin-left: 10px;
  margin-right: 10px;
}
