<div class="sorteio">
  <div class="sorteio-infos">
    <h4>Sorteio Atual - {{sorteioID}}</h4>
    <br />
    <h5> Valor Acumulado: {{montate}} wei</h5>
    <mat-card class="numsort-card">
      <h1>{{numSorteio}}</h1>
    </mat-card>
  </div>
  <br/>
  <div class="cartelas" *ngIf="cartelasEmJogo.length > 0">
    <h4>Minhas Cartelas</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let cartela of cartelasEmJogo">
          <div class="numsCartela">
            <div class="num" *ngFor="let num of cartela['2']">
              <b>{{num}}</b>
            </div>
          </div>
        </li>
      </ul>
  </div>
  <button mat-fab extended class="comprarButton" (click)="comprarCartela()">
    <mat-icon>plus_one</mat-icon>
    Comprar
  </button>
  <br/>
  <div class="footer">
    Desenvolvido por:
    <a href="https://www.linkedin.com/in/usiel-f-lopes-jr-357562168/">
      UlopesU
    </a>
  </div>
</div>




