<div class="sorteio">
  <div class="sorteio-infos">
    <h4>Sorteio Atual - {{sorteioID}}</h4>
    <h5> Valor Acumulado: {{montate}} Eth</h5>
    <br/>
    <mat-card class="numsort-card">
      <h1>{{numSorteio}}</h1>
    </mat-card>
  </div>
  <h4>Vitórias:  {{vix_count}}</h4>
  <div class="div-btn">
    <div class="div1">
      <button mat-fab class="refreshButton" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="div2"><h4>Minhas Cartelas</h4></div>
    <div class="div3">
      <button mat-fab class="comprarButton" (click)="comprarCartela()">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </div>
  <div class="cartelas" *ngIf="!is_loaded && !is_connected">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="numsCartela">
          <b>Recarregue a página clicando no botão: <mat-icon>refresh</mat-icon></b>
        </div>
      </li>
      <li class="list-group-item">
        <div class="numsCartela" style="color: brown;">
          <b>É necessário logar na extensão do MetaMask</b>
        </div>
      </li>
    </ul>
  </div>
  <div class="cartelas" *ngIf="cartelasEmJogo.length == 0 && is_loaded">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="numsCartela">
          <b>Compre novas cartelas clicando no botão (+1)</b>
        </div>
      </li>
    </ul>
  </div>
  <div class="cartelas" *ngIf="cartelasEmJogo.length > 0 && is_loaded">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let cartela of cartelasEmJogo">
          <div class="numsCartela">
            <div class="num" *ngFor="let num of cartela['2']">
              <b>{{num}}</b>
            </div>
          </div>
        </li>
      </ul>
  </div>
  <br/>
  <div class="footer">
    by
    <a href="https://www.linkedin.com/in/usiel-f-lopes-jr-357562168/">
      UlopesU
    </a>
  </div>
</div>




